.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.project-detail {
  display: none;
}

.project-detail.active {
  display: block;
}

.project-box .numb {
  font-size: 8rem;
  -webkit-text-stroke: 0.07rem var(--white-color);
  color: transparent;
  line-height: 1;
}

.project-box h3 {
  font-size: 3.5rem;
  margin: 0.8rem 0 2rem;
}

.project-box p {
  font-size: 1.6rem;
}

.project-box .tech {
  margin: 2rem 0;
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--white-color);
  padding: 2rem;
}

.project-box .live-github a {
  position: relative;
  display: inline-flex;
  padding: 1.3rem;
  font-size: 3rem;
  color: var(--white-color);
  border-radius: 50%;
  background: var(--second-bg-color);
  transition: 0.5s;
}

.project-box .live-github a:hover {
  color: var(--main-color);
}

.project-box .live-github a:first-child {
  margin-right: 1.5rem;
}
.project-box .live-github a:first-child ion-icon {
  transform: rotate(135deg);
}

.project-box .live-github a span {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  font-size: 1.6rem;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  pointer-events: none;
  background: var(--white-color);
  color: var(--bg-color);
  opacity: 0;
  transition: 0.2s;
}

.project-box .live-github a:hover span {
  top: -70%;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

/* image carousel */
.project-box .project-carousel {
  width: 100%;
  height: 45rem;
  border-radius: 1rem;
}

.project-carousel .img-slide {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 2rem;
  height: inherit;
  transition: 0.5s;
}

.project-carousel .img-item {
  height: inherit;
}

.project-carousel .img-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* navigation btns */
.project-box .navigation {
  text-align: right;
  margin-top: 2rem;
}

.project-box .navigation button {
  display: inline-flex;
  padding: 0.4rem;
  background: var(--second-bg-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  font-size: 4rem;
  color: var(--main-color);
  cursor: pointer;
}
.project-box .navigation button.disabled {
  border-color: var(--second-bg-color);
  color: var(--disabled-color);
}

.project-box .navigation .arrow-right {
  margin-left: 1.5rem;
}
