@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* default settings  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

/* theme colors */
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--white-color);
}

/* header */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  background: var(--bg-color);
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s; */
}

/* logo style */
.logo {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 700;
}

/* navbar links */

nav a {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.5s;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 4rem;
  display: none;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10rem 9% 2rem;
  background: var(--bg-color);
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

section.active {
  visibility: visible;
  opacity: 1;
  overflow: auto;
}
/* Home Section */
.home {
  display: flex;
  align-items: center;
  gap: 5rem;
  /* visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.6s; */
}

/* Home Typography */

.home-info h1 {
  font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-info h2 {
  display: inline-block;
  font-size: 3.2rem;
  margin-top: -1rem;
}

/* Typewriter animation */
.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.07rem var(--main-color);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
/* key frames */
@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}
.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 0.2rem solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

/* keyframes */

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.home-info p {
  font-size: 1.5rem;
  margin: 1rem 0 2.5rem;
}

/* buttons - home section */
.home-info .btn-sci {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  font-weight: 500;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  box-shadow: none;
}

.home-info .btn-sci .sci {
  margin-left: 2rem;
}

.home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 0.8rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 0 0.8rem;
  transition: 0.5s;
}

.home-info .btn-sci .sci a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* Home image */
.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: '';
  position: absolute;
  width: 50rem;
  height: 50rem;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--main-color)
  );
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
  animation-delay: -5s;
}

/* border rotate keyframes */
@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 50%;
  border: 0.01rem solid var(--bg-color);
  display: flex;
  z-index: 1;
  justify-content: center;
  overflow: hidden;
}

/* hero image */
.home-img .img-box .img-item img {
  position: absolute;
  top: 3rem;
  display: block;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: lighten;
}

/* bar animation */
.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #1f242d;
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

/* bars animation */
@keyframes show-bars {
  100% {
    transform: translateY(0%);
  }
}
